* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
}

.swiper-slide {
  height: 100% !important;
}